<!-- Mon premier formulaire d'inscription 📝
Le but de ce challenge est de faire une page d'inscription. Je pourrai souvent m'en resservir, si tout se passe bien et lui apporter un style par la suite !

Créer un composant sign-up qui contiendra un formulaire d'inscription
Ajouter ce composant à ton app.component.html
Penser à bien importer tout ce dont j'ai besoin
Ce formulaire aura les champs suivants : email, firstname, lastname, password
Je sais maintenant que, pour chaque formulaire, je dois créer un modèle (une interface ou une classe User avec chaque champ présent dans le formulaire)
Un bouton d'inscription de type "submit"
L'affichage du user créé dans la console au moment du click sur le bouton de soumission du formulaire. -->
<h1>{{ title }}</h1>
<app-sign-up></app-sign-up>
<router-outlet></router-outlet>
